.galery{
    width: 80rem;
    height: 63.31rem;
    display: grid;
    padding-top: 2.5rem;
    margin: 0 auto;

    & .title{
        width: 100%;
        display: grid;
        gap: .5rem;
        height: 4.81rem;
        justify-items: center;

        & p {
            text-transform: uppercase;
            font: var(--span-desk);
        }
    }

    & .galery-container{
        width: 100%;
        height: 51.25rem;
        display: grid;
        grid-template-areas: 
        "A B B"
        "C C D";
        padding-inline: 2rem;
        gap: 2rem;
        margin: 0 auto;

        & figure{
            position: relative;
            border-radius: 2.5rem;
            overflow: hidden;
            transform: translateY(200px);
            transition: 0.4s ease-in;
            opacity: 0;
            filter: blur(2px);

            & img {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s ease;
            }

            & figcaption{
                display: flex;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 5rem;
                background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5) 85%);
                bottom: 0;
                left: 0;
                padding-inline: 2rem;
                transform: translateY(100%);
                justify-content: flex-end;
                transition: 0.5s ease-in;
                z-index: 2;

                & span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    font: var(--span-desk);
                    color: #ffff;
                    position: relative;
                }

                & span::before{
                    content: url(../assets/insta\ pic.svg);
                    position: absolute;
                    top: 50%;
                    left: -40%;
                    transform: translateY(-40%);
                }
            }
        }  
        
        & figure:hover{

            & > img {
                transform: scale(1.1);
                transition: all 500ms ease;
            }

            :nth-child(2){
                transform: translateY(0);
            }
        }

        & figure:nth-child(1) {
            width: 100%;
            grid-area: A;
        }

        & figure:nth-child(2) {
            grid-area: B;
        }

        & figure:nth-child(3) {
            grid-area: C;
        }

        & figure:nth-child(4) {
            grid-area: D;
        }

        & .show-figure{
            transform: translateY(0);
            opacity: 1;
            filter: blur(0);
        }
    }
}

@media (width < 80rem){

    .galery{
        width: 100%;
        height: 76.43rem;
        display: grid;
        padding: 1.5rem;
    
        & .galery-container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 1.5rem 0;
            gap: 1.5rem;
            margin: 0 0;
    
            & figure{
                height: 16rem;
            }
        }
    }
}
