*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --snitap-sun: #FFCD1E;
    --snitap-sky-mid: #06B6D4;
    --snitap-sky-light: #67E8F9;
    --snitap-joy-mid: #DB2777;
    --snitap-joy-light: #F472B6;
    --snitap-leaf-mid: #16A34A;

    --text: #000;
    --highlights: #000;
    --background: #FAFAFA;
    
    --font-syne: "Syne", serif;
    --font-mont: "Montserrat", serif;;
    --h1-desk: 700 4rem/125% var(--font-syne);
    --h2-desk: 700 2.5rem/120% var(--font-syne);
    --button-label-desk: 500 1rem/150% var(--font-mont);
    --span-desk: 500 0.875rem/150% var(--font-mont);

    --h1-mobile: 700 2rem/125% var(--font-syne);
    --h2-mobile: 700 2rem/120% var(--font-syne);
}

body{
    color: var(--text);
    background-color: var(--background);
}

a{
    color: inherit;
}

h1{
    font: var(--h1-desk);
}

h2{
    font: var(--h2-desk);
}

img {
    width: 100%;
    height: 100%;
}


@media (width < 80em) {

    h1{
        font: var(--h1-mobile);
    }
    
    h2{
        font: var(--h2-mobile);
    }
    
}